@model CILantroTestManager.ViewModels.Tests.TestsFindViewModel

<h2>Find tests</h2>

@if (Model.TestCandidates.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><h4><strong>#</strong></h4></th>
                <th scope="col"><h4><strong>File</strong></h4></th>
                <th scope="col"><h4><strong>Actions</strong></h4></th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
            }

            @foreach (var testCandidate in Model.TestCandidates)
            {
                <tr>
                    <td>@i</td>

                    <td>
                        <strong>@testCandidate.FileName</strong>
                        <br />
                        <span class="test-path"><i>...@testCandidate.ShortPath</i></span>
                    </td>

                    <td>
                        <a href="@Url.Action("Add", "Tests", new { testName = testCandidate.FileName, shortPath = testCandidate.ShortPath })" type="button" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add
                        </a>
                    </td>
                </tr>

                i++;
            }
        </tbody>
    </table>
}
else
{
    <text>No test candidates could be found.</text>
}