body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    margin-bottom: 20px;
}

.test-path {
    font-size: 0.8em;
}

h2 {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

.table.categories-table td {
    height: 3.5em;
}

.col-form-label {
    text-align: right;
}

th.rotate-header {
    width: 60px;
    height: 130px;
    white-space: nowrap;
    text-align: left;
}

th.rotate-header h5 {
    width: 36px;
    transform: rotate(-90deg) translateY(28px) translateX(2px);
    transform-origin: bottom left;
}

.fa.fa-1dot5x {
    font-size: 1.5em;
}

.logger {
    font-family: Consolas;
    font-size: 0.75em;
    line-height: 1.25em;
}

.logger pre {
    margin: 0;
}

.show-test-header {
    margin-bottom: 0px;
}

td.col-fit, th.col-fit {
    white-space: nowrap;
    width: 1%;
}

td.col-icon, th.col-icon {
    width: 4em;
}