@model CILantroTestManager.ViewModels.Categories.CategoriesIndexViewModel

<h2>
    Manage categories
    <a href="@Url.Action("Add", "Categories")" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add
    </a>
</h2>

@if (Model.Categories.Count() > 0)
{
    foreach (var category in Model.Categories)
    {
        <div class="row well">
            <div class="col-md-6">
                <h4>
                    @category.Name
                </h4>
            </div>
            <div class="col-md-6">
                <h5>
                    <a href="@Url.Action("AddSubcategory", "Categories", new { categoryId = category.Id })" type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add subcategory
                    </a>
                </h5>
            </div>
        </div>
    }
}
else
{
    <text>No categories could be found.</text>
}