@model CILantroTestManager.ViewModels.Categories.CategoriesIndexViewModel

<h2>
    Manage categories
    <a href="@Url.Action("Add", "Categories")" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add
    </a>
</h2>

@if (Model.Categories.Count() > 0)
{

}
else
{
    <text>No categories could be found.</text>
}